<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Parikh & Associates | Blog</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Top Search Area Start ***** -->
    <div class="top-search-area">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="https://colorlib.com/preview/theme/uza/index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Search Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="img/logo_new.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                    <div class="classynav">
                            <ul id="nav">
                                <li ><a href="index.html">Home</a></li>
                                <li ><a href="about.html">Who We Are</a></li>
                                <li><a href="#">Service</a>
                                    <ul class="dropdown">
                                        
                                        <li><a href="#"> Assurance Services </a>
                                            <ul class="dropdown">
                                                <li><a href="statutory_audit.html"> Statutory Audit</a></li>
                                                <li> <a href="#">Internal Audit</a> </li>
                                                <li><a href="#">Forensic audit</a></li><li><a href="#">Management and Propriety Audit</a></li> 
                                                <li><a href="#">Information System Audit</a></li>
                                                
                                                <li><a href="#">Certification</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"> Business Support Services </a>
                                            <ul class="dropdown">
                                                  <li> <a href="#">IFRS, Ind AS, US GAAP Advisory, Implementation and Reporting</a> </li>
                                                <li>
                                                    <a href="#">Book Keeping – Domestic and International Transaction accounting</a>
                                                </li>
                                               
                                              
                                                <li><a href="#">Regulatory compliances</a></li> 
                                                <li>
                                                    <a href="#">Preparation of financial statements</a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li><a href="#">Corporate advisory Services </a>
                                            <ul class="dropdown">
                                            <li><a href="#">Formation of companies & LLPs</a></li>
                                             <li> <a href="#">Due Diligence</a> </li>
                                               <li><a href="#">Designing and Implementation of Standard Operating Procedures</a></li>

                                            <li><a href="#">Designing the Risk Control Matrices </a></li>
                                            <li><a href="#">Management consultancy</a></li>
                                            <li><a href="#">Project financing</a></li>
                                           
                                          
                                            </ul>
                                        </li>
                                        <li><a href="#">Taxation </a>
                                            <ul class="dropdown">
                                                <li><a href="#">Applications and Registrations   </a></li>
                                                <li> <a href="#">Compliances & Return Fillings</a> </li>
                                                <li><a href="#">Advisory Services</a></li> 
                                                <li><a href="#">Audits</a></li>
                                               
                                            </ul>
                                        </li>
                                          <li><a href="#">RERA </a>
                                            <ul class="dropdown">
                                                <li><a href="#">Registration   </a></li>
                                                <li> <a href="#">Attestation including Audit and Certification</a> </li>
                                                
                                               
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="join.html">Join Us</a></li>
                                <li class="current-item"><a href="blog.html">Blog</a></li>
                               
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                            <!-- Get A Quote -->
                            <div class="get-a-quote ml-4 mr-3">
                                <a href="inquiry.html" class="btn uza-btn">Inquiry</a>
                            </div>
                            <!-- Search Icon -->
                            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <div class="uza-blog-area section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Single Blog Post -->
                <div class="col-12 col-lg-8">
                   <!-- 1 -->
                    <div class="single-blog-post h-250 bg-img mb-40 " >
                        <!-- Post Content -->
                        <div class="post-content" style="padding: 20px;">
                            <span class="post-date"><span>23</span> June, 2019</span>
                            <a href="#" class="post-title">Income Tax Return – Extensive Information asked</a>
                            <p>Lorem Ipsum is simply dummy text ofIn the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="single-blog.html" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                    <!-- 2 -->
						<div class="single-blog-post h-250 bg-img mb-40" >
                        <!-- Post Content -->
                        <div class="post-content" style="padding: 20px;">
                            <span class="post-date"><span>13</span> April, 2019</span>
                            <a href="#" class="post-title">Some Major Changes through the GST Amendment Acts</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
               		  <!-- 3 -->
                    <div class="single-blog-post h-250 bg-img mb-40" >
                        <!-- Post Content -->
                        <div class="post-content" style="padding: 20px;">
                            <span class="post-date"><span>08</span> July, 2019</span>
                            <a href="#" class="post-title">Tittle</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                <!-- 4 -->
                  <div class="single-blog-post h-250 bg-img mb-40" >
                        <!-- Post Content -->
                        <div class="post-content" style="padding: 20px;">
                            <span class="post-date"><span>23</span> August, 2019</span>
                            <a href="#" class="post-title">Tittle</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                    <!-- 5 -->
                     <div class="single-blog-post h-250 bg-img mb-40" >
                        <!-- Post Content -->
                        <div class="post-content" style="padding: 20px;">
                            <span class="post-date"><span>13</span> December, 2019</span>
                            <a href="#" class="post-title">Tittle</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                    <!-- 6 -->
                    <div class="single-blog-post h-250 bg-img mb-40" >
                        <!-- Post Content -->
                        <div class="post-content" style="padding: 20px;">
                            <span class="post-date"><span>08</span> July, 2019</span>
                            <a href="#" class="post-title">Tittle</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                     <div class="col-12 text-center">
                    <a href="#" class="btn uza-btn btn-3">Load More</a>
                </div>
                </div>


                <div class="col-lg-4">
                	<div>
                		<p class="fathead">Trending</p>
                		<ul class="latest_blog">
                			<li>
                				<img src="img/blog/trading1.jpg" alt="Mandatory ITR Filing (Amendment in Budget 2019)" class="thumb">
                				<span class="blog_title"><a href="https://www.charteredclub.com/mandatory-itr-filing/" title="Read More on Mandatory ITR Filing (Amendment in Budget 2019)">Mandatory ITR Filing (Amendment in Budget 2019)</a></span>
                			</li>
                			<li>
                				<img src="https://i1.wp.com/www.charteredclub.com/wp-content/uploads/2015/03/Tax-Deductions-Featured.jpg?resize=374%2C177&amp;ssl=1" alt="TDS on Payment of above Rs. 50 Lakhs (Budget 2019)" class="thumb">
                				<span class="blog_title"><a href="https://www.charteredclub.com/tds-on-payment-made-by-individuals/" title="Read More on TDS on Payment of above Rs. 50 Lakhs (Budget 2019)">TDS on Payment of above Rs. 50 Lakhs (Budget 2019)</a></span>
                			</li>
                			<li>
                				<img src="https://i1.wp.com/www.charteredclub.com/wp-content/uploads/2015/10/feat-Tax-time.jpg?resize=374%2C177&amp;ssl=1" alt="Budget 2019: Surcharge increased to 37% for income above Rs. 5 Crores" class="thumb">
                				<span class="blog_title"><a href="https://www.charteredclub.com/surcharge-on-income-tax/" title="Read More on Budget 2019: Surcharge increased to 37% for income above Rs. 5 Crores">Budget 2019: Surcharge increased to 37% for income above Rs. 5 Crores</a></span>
                			</li>
                			<li>
                				<img src="https://i0.wp.com/www.charteredclub.com/wp-content/uploads/2015/10/feat-property.jpg?resize=374%2C177&amp;ssl=1" alt="Amendment to TDS on Property {Budget 2019}" class="thumb">
                				<span class="blog_title"><a href="https://www.charteredclub.com/tds-on-property/" title="Read More on Amendment to TDS on Property {Budget 2019}">Amendment to TDS on Property {Budget 2019}</a></span>
                			</li>
                		</ul>
                	</div>
                </div>    
            </div>
            
           
        </div>
    </div>
    <!-- ***** Blog Area End ***** -->

    <!-- ***** Newsletter Area End ***** -->
  <div class="border-line"></div>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact Us</h4>

                        <!-- Footer Content -->
                        <div class="footer-content mb-15">
                            <h3>(+91)  84010 52777</h3>
                            <p>308, Akshar Stadia, Opp Symphony House. 
                               off Sindhubhavan road, Bodakdev, Ahmedabad-380054 <br>
                               parikhandassociates@yahoo.com 
                           </p>
                        </div>
                       <p class="mb-0">Mon - Sat: 11:00AM - 18:00PM <br>
                             Sunday Closed</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Quick Link</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                 <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">Who We Are</a></li>
                            
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="join.html">Join Us</a></li>
                                 <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Service</h4>

                        <!-- Nav -->
                        <nav>
                           <ul class="our-link">
                                <li><a href="statutory_audit.html">Assurance Services</a></li>
                                <li><a href="#">Business Support Services </a></li>
                                <li><a href="#">Corporate Advisory Services </a></li>
                                <li><a href="#">Taxation</a></li>
                                <li><a href="#">RERA</a></li>
                              
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">About Us</h4>
                        <p>PARIKH & ASSOCOATES is a Chartered Accountancy Firm in Ahmadabad offering a full suite of services under one roof.  </p>

                      
                        <!-- Social Info -->
                       <div class="footer-social-info">
                            <a href="https://www.facebook.com/" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            
                            <a href="https://www.instagram.com" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            
                        </div>
                    </div>
                </div>

            </div>

 <div class="row" style="margin-bottom: 30px; padding-left: 10px;">
                

Copyright &copy; 2019. All rights reserved | Design by  <a href="#" target="_blank"> Global websoft Pvt Ltd</a>          
 </div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="js/jquery.min.js" ></script>
    <!-- Popper js -->
    <script src="js/popper.min.js" ></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js" ></script>
    <!-- All js -->
    <script src="js/uza.bundle.js" ></script>
    <!-- Active js -->
    <script src="js/default-assets/active.js" ></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="722fc7db81082edd708c6ee1-text/javascript"></script>
<!-- <script type="722fc7db81082edd708c6ee1-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script> -->

<script src="../../../../ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="722fc7db81082edd708c6ee1-|49" defer=""></script></body>
</html>