<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Parikh & Associates | Home </title>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Top Search Area Start ***** -->
    <div class="top-search-area">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="#" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Search Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="img/logo_new.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="current-item"><a href="index.html">Home</a></li>
                                <li ><a href="about.html">Who We Are</a></li>
                                <li><a href="#">Service</a>
                                    <ul class="dropdown">
                                        
                                        <li><a href="#"> Assurance Services </a>
                                            <ul class="dropdown">
                                                <li><a href="statutory_audit.html"> Statutory Audit</a></li>
                                                <li> <a href="#">Internal Audit</a> </li>
                                                <li><a href="#">Forensic audit</a></li><li><a href="#">Management and Propriety Audit</a></li> 
                                                <li><a href="#">Information System Audit</a></li>
                                                
                                                <li><a href="#">Certification</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"> Business Support Services </a>
                                            <ul class="dropdown">
                                                  <li> <a href="#">IFRS, Ind AS, US GAAP Advisory, Implementation and Reporting</a> </li>
                                                <li>
                                                    <a href="#">Book Keeping – Domestic and International Transaction accounting</a>
                                                </li>
                                               
                                              
                                                <li><a href="#">Regulatory compliances</a></li> 
                                                <li>
                                                    <a href="#">Preparation of financial statements</a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li><a href="#">Corporate advisory Services </a>
                                            <ul class="dropdown">
                                            <li><a href="#">Formation of companies & LLPs</a></li>
                                             <li> <a href="#">Due Diligence</a> </li>
                                               <li><a href="#">Designing and Implementation of Standard Operating Procedures</a></li>

                                            <li><a href="#">Designing the Risk Control Matrices</a></li>
                                            <li><a href="#">Management consultancy</a></li>
                                            <li><a href="#">Project financing</a></li>
                                           
                                          
                                            </ul>
                                        </li>
                                        <li><a href="#">Taxation </a>
                                            <ul class="dropdown">
                                                <li><a href="#">Applications and Registrations</a></li>
                                                <li> <a href="#">Compliances & Return Fillings</a> </li>
                                                <li><a href="#">Advisory Services</a></li> 
                                                <li><a href="#">Audits</a></li>
                                               
                                            </ul>
                                        </li>
                                          <li><a href="#">RERA </a>
                                            <ul class="dropdown">
                                                <li><a href="#">Registration</a></li>
                                                <li> <a href="#">Attestation including Audit and Certification</a> </li>
                                                
                                               
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="join.html">Join Us</a></li>
                                <li><a href="blog.html">Blog</a></li>
                               
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                            <!-- Get A Quote -->
                            <div class="get-a-quote ml-4 mr-3">
                                <a href="inquiry.html" class="btn uza-btn">Inquiry</a>
                            </div>

                          
                            <!-- Search Icon -->
                            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- 1 slider -->
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">  <span> Assurance Services </span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Our endeavor is to handhold you right from addressing your key business concerns, helping you comply with Regulatory norms & Enhancing overall effectiveness of corporate governance.</h5>
                                  
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="img/slider/slider1.jpg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            <!-- 2 slider -->
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <span> Business Support Service</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms"> A range of business financial services, from auditing the expenses to Identifying compliance gaps to suggest Unbeaten Measures. </h5>
                                   
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="img/slider/slider2.jpg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 slider -->
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <span> Corporate advisory Service </span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms"> We help enhancing the enterprise value by dealing with the complex business environment & enabling them to take progressive decisions.</h5>
                                    <!-- <a href="#" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Start Exploring</a> -->
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="img/slider/slider3.jpg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- 4 slider -->
              <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <span> Taxation</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Precise, Proficient and Approachable taxation services to the Business Community and all the Taxpayers on a Sustained Basis.</h5>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="img/slider/slider4.jpg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- 5  slider-->
                      <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="img/core-img/curve-1.png" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"> <span> RERA</span></h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Infuse Transparency, Ensure Fair-play, We work to Ensure Accountability Towards Allotted and Protect their Interest.</h5>
                                    
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="img/slider/slider5.jpg" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- ***** Welcome Area End ***** -->
 <div class="border-line"></div>
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail mb-80">
                        <img src="img/about1.png" alt="">
                       
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        <h2>Parikh & Associates</h2>
                        <p><b>“Small Opportunities are often the Beginning of
                               Great Enterprises"</b></p>
                        <p style="text-align: justify;">M/s. Parikh & Associates, Chartered Accountants is Chartered Accountancy
                           Firm Registered with The Institute of Chartered Accountants of India
                           (ICAI). We are the team of young and Energetic Professionals having
                            experience in diversified areas of the industry with a positive approach to
                            provide expert and professional services with due care of professional ethics. </p>
                            <p>We believe in steady approach towards offering high quality professional
                               services to our clients. </p>
                        <a href="about.html" class="btn uza-btn btn-2 mt-4">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="img/core-img/curve-2.png" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Our Key Point</h2>
                        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                           <i class="fa fa-users"></i>
                        </div>
                        <h5>An Expert Team </h5>
                        <p>We ensure to Deliver value Additions to client through our Qualified Professionals and Specialized Team.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                       <h5>Savings Time & Money</h5>
                        <p>Its a  <b>“One-Stop-Shop”</b> for all your Accounting & Business Consultation Saving your Resources such as Time & Money.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_easel"></i>
                        </div>
                       <h5>Growth Strategy</h5>

                        <p>Each Tailored Assignment is Commenced by our Highly Talented & Professional Team Focusing Growth of our Client’s Firm.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->

    <!-- ***** Portfolio Area Start ***** -->
    <section class="uza-portfolio-area section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Our Service</h2>
                        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Portfolio Slides -->
                <div class="portfolio-sildes owl-carousel">

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="img/service/home-service/s4.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4 >Assurance Services</h4>
                            <p>We assist our clients with Special Purpose Reviews Where in We Analyses Management or Regulator Pacified Areas ...</p>
                        </div>
                        <!-- View More -->

                        <div class="view-more-btn">
                            <h4 class="service-tittle">Assurance Services</h4>
                            <a href="statutory_audit.html"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="img/service/home-service/s2.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Business Support Service</h4>
                            <p>We serve you to meet Statutory Requirements viz Drafting and Maintaining Statutory Records such as Minutes of Meetings...</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            
                            <h4 class="service-tittle">Business Support Service</h4>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="img/service/home-service/corporate_service.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Corporate advisory Service </h4>
                            <p>We provide services to Investors, bankers and acquires who rely on Due Diligence as a standard of care during Mergers and Acquisitions...</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                           <h4 class="service-tittle">Corporate advisory Service </h4>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>

                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="img/service/home-service/taxation.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Taxation </h4>
                            <p>We Provide Assistance In Registration with various tax Authorities and its Compliance Procedure adhering to various tax laws.</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            
                            <h4 class="service-tittle">Taxation </h4>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <div class="single-portfolio-slide">
                        <img src="img/service/home-service/rera.jpg" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>RERA  </h4>
                            <p>We Provide Assistance In Registration with various tax authorities and its compliance procedure adhering to various tax laws.</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            
                            <h4 class="service-tittle">RERA </h4>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Border -->
   <!--      <div class="container">
            <div class="border-line"></div>
        </div> -->

        <!-- Background Curve -->
        <div class="portfolio-bg-curve">
            <img src="img/core-img/curve-3.png" alt="">
        </div>
    </section>
    <!-- ***** Portfolio Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="uza-blog-area">
        <!-- Background Curve -->
        <div class="blog-bg-curve">
            <img src="img/core-img/curve-4.png" alt="">
        </div>

        <!-- CTA Area Start -->
        <div class="uza-cta-area section-padding-0-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-7">
                        <div class="cta-content mb-80">
                            <h2>Interested in working with us?</h2>
                            <h6> give us a call!</h6>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <div class="cta-content mb-80">
                            <div class="call-now-btn">
                                <a href="#"><span>Call Now : </span>(+91) 84010 52777</a>
                            </div>
                        </div>
                    </div>
                     <div class="border-line"></div>
                </div>
            </div>
        </div>
        <!-- CTA area End -->

        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Our Team</h2>
                       <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(img/team/vedant.jpg);">
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="avatar">
                                <a href="#">
                                    <img src="img/team/vedant.jpg" alt="VEDANT K. PARIKH">
                                </a>
                            </div>
                            <span class="post-date"><span>VEDANT K. PARIKH</span> <br><b>Partner</b></span>
                            <p style="text-align: justify;">Managing Partner of the Firm, Vedant Parikh, has an experience of more than 3 years in the field of audit and assurance specializing in Banking and Real Estate Industry...</p>
                            <a href="vedant.html" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(img/team/kamal.jpg);">
                        <!-- Post Content -->
                          <div class="post-content">
                            <div class="avatar">
                                <a href="#">
                                    <img src="img/team/kamal.jpg" alt="">
                                </a>
                            </div>
                            <span class="post-date"><span>Kamal Bhandari</span> <br><b>Partner</b></span>
                            <p style="text-align: justify;">Taxation Partner of the firm, Kamal Bhandari, has a rich experience of working on various direct as well as indirect tax assignments specializing into Tax Advisory and Compliances...</p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-post bg-img mb-80" style="background-image: url(img/team/jainam.jpg);">
                        <!-- Post Content -->
                         <div class="post-content">
                            <div class="avatar">
                                <a href="#">
                                    <img src="img/team/jainam.jpg" alt="">
                                </a>
                            </div>
                            <span class="post-date"><span>Jainam Shah</span> <br><b>Partner</b></span>
                            <p style="text-align: justify;">Jainam Shah, Assurance and Advisory Partner of the Firm has experience of more than 3 years in the field of audit and assurance specializing in...</p>
                            <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

    
   
    <!-- ***** Newsletter Area End ***** -->
  <div class="border-line"></div>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact Us</h4>

                        <!-- Footer Content -->
                        <div class="footer-content mb-15">
                            <h3>(+91)  84010 52777</h3>
                            <p>308, Akshar Stadia, Opp Symphony House. 
                               off Sindhubhavan road, Bodakdev, Ahmedabad-380054 <br>
                               parikhandassociates@yahoo.com 
                           </p>
                        </div>
                        <p class="mb-0">Mon - Sat: 11:00AM - 18:00PM <br>
                             Sunday Closed</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Quick Link</h4>

                        <!-- Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">Who We Are</a></li>
                               <!--  <li><a href="#">Services</a></li> -->
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="join.html">Join Us</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Service</h4>

                        <!-- Nav -->
                        <nav>
                           <ul class="our-link">
                                <li><a href="statutory_audit.html">Assurance Services</a></li>
                                <li><a href="#">Business Support Services </a></li>
                                <li><a href="#">Corporate Advisory Services </a></li>
                                <li><a href="#">Taxation</a></li>
                                <li><a href="#">RERA</a></li>
                              
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">About Us</h4>
                        <p>PARIKH & ASSOCOATES is a Chartered Accountancy Firm in Ahmadabad offering a full suite of services under one roof.  </p>
                        <!-- Social Info -->
                        <div class="footer-social-info">
                            <a href="https://www.facebook.com/" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            
                            <a href="https://www.instagram.com" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            
                        </div>
                    </div>
                </div>

            </div>

 <div class="row" style="margin-bottom: 30px; padding-left: 10px;">
Copyright &copy; 2019. All rights reserved | Design by  <a href="#" target="_blank"> Global websoft Pvt Ltd</a> 
</div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <!-- All js -->
    <script src="js/uza.bundle.js" type="text/javascript"></script>
    <!-- Active js -->
    <script src="js/default-assets/active.js" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
<!-- <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script> -->

<script src="../../../../ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="|49" defer=""></script>
</body>


</html>